
.content {
    height: 100%;
    display: flex;
    align-items: start;
}

span {
    padding: 0;
    margin: 0;
}

.dropdown__links {
  color: #CCC;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #0b0d0f;
    padding-bottom: 20px;
    padding-top: 20px;
    min-width: 350px;
    width: 350px;
}

@media (min-width: 1500px) {
    .sidebar {
        width: 400px;
        min-width: 400px;
    }
}

.content-container {
    border-top: 1px solid #0b0d0f;
    margin: 0 40px 0 0;
}

@media (min-width: 890px) {
    .content-container {
        width: 100%;
    }
}

.services__link {
    text-align: left;
    margin-bottom: 20px;
}

.services__link > a {
    font-family: 'Proxima Nova Bold';;
    font-weight: 700;
    font-size: 16px;
    color: #e961ff;
    background: none;
    border: none;
    text-align: left;
    display: flex;
    align-items: center;
}

.link_all_services {
    margin-top: 24px;
    padding: 11px 12px;
}

.news_link {
    margin-top: 36px;
    padding: 11px 0;
}

.content-news {
  margin-right: 100px;
  margin-left: 45px;
}

.chevron-right-pink {
    scale: 80%;
    transform: rotate(-90deg);
}

/* @media (max-width: 641px) { */
@media (max-width: 890px) {
    .sidebar {
        width: 100%;
        background-color: transparent;
        gap: 16px;
        min-width: 0;
    }

    .content-container {
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--background);
        z-index: 2;
        margin: 0;
    }
    
    .content-description {
        margin-right: 10px;
    }

    .content-top {
        display: flex;
        text-align: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 45px;
        padding: 10.5px 0;
        margin-bottom: 40px;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding-top: 44px;
    }
    

    .back_arrow--svg {
        margin-left: 16px;
    }

    .submenu_name {
        color: var(--white, #CCC);
        text-align: center;
        font-family: "Proxima Nova Bold";
        font-size: 4vw;
        font-style: normal;
        line-height: 140%;
    }

    .close--svg {
        margin-right: 16px;
    }

    .content-description {
        margin: 0 16px 16px 16px;
    }

    .button--container {
        display: flex;
        justify-content: center;
        margin-bottom: 33px;
        padding-top: 16px;
    }

}

/* @media (min-width: 641px) { */
@media (min-width: 890px) {
    .sidebar {
        height: 640px;
    }

    .content-description {
        padding-right: 10px;
        margin-left: 65px;
    }

    .content-container {
        margin: 0;
    }
}


@media (min-width: 768px) and (max-width: 1024px)  {
    
    .content-news {
        margin-right: 30px;
    }
}
