.info {
  cursor: pointer;
  position: relative;

  display: flex;
  flex-direction: column;
}

.info__description {
  display: none;
  position: absolute;

  z-index: 10000;

  bottom: 5px;
  left: -110px;

  margin-bottom: 20px;

  width: 246px;
  height: max-content;

  border: 1px solid var(--background);
  background: #14181c;
  border-radius: 4px;

  text-align: left;
}

.info:hover .info__description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__icon {
  height: 24px;
  width: 24px;
}

.info__icon:hover path {
  stroke: aquamarine;
}

.info__text {
  max-width: 222px;

  font-size: 14px;
  line-height: 140%;

  color: var(--text-color);
}

@media (max-width: 641px) {
  .info__description {
    left: -150px
  }
}
