.services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 40px;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(4, 3fr);

  gap: 20px;
}

.services__item {
  text-decoration: none;

  padding: 12px 0px;

  width: 250px;
  height: 212px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;

  border: 1px solid #14181c;

  background: #14181c;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.6);
  border-radius: 8px;

  transition: transform 0.3s ease;
}

.services__item:hover {
  transform: scale(1.1);
}

.services__icon {
  height: 70px;
  width: 70px;
}

.services__description {
  max-width: 170px;

  font-size: 20px;
  line-height: 140%;

  text-align: center;
  text-transform: uppercase;

  color: var(--text-color);
}

.services__list_container {
  max-width: 1280px;
}

@media (max-width: 1280px) {
  .services__container {
    min-width: 1064px;
    max-width: 1200px;
  }
}

@media (min-width: 1280px) {
  .services__container {
    min-width: 1280px;
  }
}

@media (max-width: 1120px) {
  .services__container {
    justify-content: center;
    align-items: flex-start;
  }

  .services__list {
    grid-template-columns: repeat(3, 3fr);
  }
}

@media (max-width: 641px) {
  .services {
    all: unset;
  }
  
  .services__title {
    text-align: left;
  }

  .services__list {
    grid-template-columns: repeat(2, 3fr);

    gap: 8px;
  }

  .services__item {
    width: 168px;
    height: 194px;

    box-shadow: none;

    background: none;

    
  }

  .services__description {
    font-size: 16px;
  }

  .services__title_wrapper {
    width: 300px;

    text-align: left;

  }

  .services__container {
    width: fit-content;

    padding-left: 10px;
  }

  .services__list_container {
    max-width: 300px;
  }

  .services__list {
    padding-left: 4px;
  }
}
