.services {
  display: flex;
  align-items: center;
}

.services__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.services__list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;
}

.services__item {
  width: 295px;
  min-height: 212px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 24px 28px;

  border-color: #14181c;

  background: #14181c;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
  border-radius: 8px;

  transition: transform 0.3s ease;
}

.services__item:hover {
  transform: scale(1.04);
}

.services__icon {
  height: 70px;
  width: 70px;
}

.services__description {
  font-size: 20px;
  line-height: 140%;

  text-align: center;
  text-transform: uppercase;

  color: var(--text-color);
}

.services__list_container {
  width: 100%;
}

.paragraph {
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color);
  text-align: center;

}

.text__container {
  margin-bottom: 40px;
}

.services__title.h2 {
  margin: 0;
  text-align: center;
}

@media (max-width: 1280px) {
  .services__container {
    max-width: 1200px;
  }
}

@media (max-width: 1120px) {
  .services__container {
    justify-content: center;
    /* align-items: flex-start; */
  }
}

@media (min-width: 1920px) {
  .services__item {
  }

  .services__icon {
    height: 4.86vw;
    width: 4.86vw;
  }

  .services__container {
    gap: 3vw;
  }
}

@media (max-width: 1050px) and (min-width: 642px) {
  .services__item {
  }

  .services__icon {
    height: 50px;
    width: 50px;
  }

  .services__container {
    gap: 3vw;
  }
}


@media (max-width: 809px) {
  .services__list {
    gap: 8px;
  }

  .services__item {
    padding: 0;
    width: 210px;
    box-shadow: none;
    background: none;
  }
}

@media (max-width: 641px) {
  .container.services__container {
    gap: inherit;
  }
  .services {
    all: unset;
    width: 100vw;
  }

  .services__item {
    max-width: 167px;
  }

  .services__title {
    text-align: left;
  }

  .services__description {
    font-size: 16px;
  }

  .services__title_wrapper {
    width: 76.92vw;

    text-align: left;
  }

  .services__container {
    width: auto;
  }
}

@media (max-width: 641px) {
  .services__container {
    justify-content: center;
    align-items: flex-start;
  }

  .paragraph {
    display: none;
  }


}