.services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(4, 3fr);

  gap: 20px;
}

.services__item {
  height: 212px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-color: #14181c;

  background: #14181c;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
  border-radius: 8px;

  transition: transform 0.3s ease;
}

.services__item:hover {
  transform: scale(1.04);
}

.services__icon {
  height: 70px;
  width: 70px;
}

.services__description {
  max-width: 240px;

  font-size: 20px;
  line-height: 140%;

  text-align: center;
  text-transform: uppercase;

  color: var(--text-color);
}

.services__list_container {
  width: 100%;
}

.paragraph {
  font-size: 2vw;
  line-height: 140%;
  color: var(--text-color);
  text-align: center;

}

.text__container {
  margin-bottom: 40px;
}

@media (max-width: 1280px) {
  .services__container {
    max-width: 1200px;
  }
}

@media (max-width: 1120px) {
  .services__container {
    justify-content: center;
    /* align-items: flex-start; */
  }
}

@media (min-width: 1920px) {
  .services__item {
    padding: 12px 0px;

    width: 20.83vw;

    width: 20.83vw;
    height: 20.83vw;
  }

  .services__icon {
    height: 4.86vw;
    width: 4.86vw;
  }

  .services__description {
    font-size: 1.5vw;
  }

  .services__container {
    gap: 3vw;
  }

  .services__description {
    max-width: 16.7vw;
  }
}

@media (max-width: 1050px) and (min-width: 642px) {
  .services__item {
    padding: 12px 0px;

    width: 20.83vw;

    width: 20.83vw;
    height: 20.83vw;
  }

  .services__icon {
    height: 4.86vw;
    width: 4.86vw;
  }

  .services__description {
    font-size: 1.5vw;
  }

  .services__container {
    gap: 3vw;
  }

  .services__description {
    max-width: 16.7vw;
  }
}

@media (max-width: 641px) {
  .services {
    all: unset;
  }

  .services__title {
    text-align: left;
  }

  .services__list {
    grid-template-columns: repeat(2, 3fr);

    gap: 8px;
  }

  .services__item {
    height: 49.542vw;

    box-shadow: none;

    background: none;
  }

  .services__icon {
    height: 17.95vw;
    width: 17.95vw;
  }

  .services__description {
    font-size: 4.103vw;
  }

  .services__title_wrapper {
    width: 76.92vw;

    text-align: left;
  }

  .services__container {
    width: fit-content;

    padding-left: 2.56vw;
  }

  .services__list_container {
    max-width: 76.92vw;
  }
}

@media (max-width: 641px) {
  .services__container {
    justify-content: center;
    align-items: flex-start;
  }

  .paragraph {
    display: none;
  }


}