.cases {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cases__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-left: 1.5vw;
}

.cases__content {
  display: grid;
  grid-template-columns: 5fr 7fr;

  gap: 40px;

  height: 790px;
}

.cases__list {
  display: grid;
  grid-template-columns: repeat(1, 5fr);

  gap: 10px;
}

.cases__background {
  border: 1px solid var(--background);
  border-radius: 8px;

  padding: 1px;

  height: fit-content;

  position: relative;
}

.cases__background--active {
  background: linear-gradient(
    223.81deg,
    #00e5e5 8.72%,
    #72a5f2 50.87%,
    #e961ff 91.3%
  );
}

.cases__background--active::after {
  content: "";
  position: absolute;
  inset: -0.325em;
  background: var(--gradient);
  filter: blur(1.5em);
  z-index: -1;
}

.cases__card {
  display: flex;
  align-items: center;

  gap: 20px;

  padding: 20px;

  background: var(--background);

  cursor: pointer;
}

.cases__background,
.cases__card {
  transition: background-color 0.3s ease;
}

.cases__background:hover {
  background-color: aquamarine;
}

.cases__card_icon {
  width: 40px;
  height: 40px;
}

.cases__card_text,
.cases__card_name {
  font-size: 20px;
  line-height: 140%;

  color: var(--text-color);

  margin: 0;
}

.cases__card_name {
  text-transform: uppercase;
}

.cases__descriptions {
  display: flex;
  flex-direction: column;

  font-family: inherit;

  background-color: var(--background);

  gap: 30px;

  padding: 24px 20px;
}

.cases__card,
.cases__descriptions {
  border: 1px solid var(--background);
  border-radius: 8px;

  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.6);
}

.cases__descriptions {
  width: 49.65vw;

  overflow-y: scroll;
}

.cases__description_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.cases__description_list {
  margin: 0;

  text-align: left;
}

@media (max-width: 1120px) {
  .cases__descriptions {
    width: 48vw;
  }
}

@media (max-width: 768px) {
  .cases__content {
    height: 400px;
  }
}

@media (max-width: 1050px) and (min-width: 642px) {
  .cases {
    all: unset;

    margin-left: 4vw;
  }

  .cases__card {
    gap: 1.4vw;

    padding: 1.4vw;
  }

  .cases__card_icon {
    width: 2.7vw;
    height: 2.7vw;
  }

  .cases__card_text,
  .cases__card_name {
    font-size: 1.4vw;
  }

  .cases__text_description {
    max-width: 30vw;
  }

  .cases__descriptions {
    display: flex;
    flex-direction: column;

    gap: 30px;

    padding: 3vh 1.4vw;
  }
}

@media (max-width: 641px) {
  .cases {
    all: unset;

    position: relative;

    display: block;
  }

  .cases__background,
  .cases__background--active,
  .cases__background--active::after,
  .cases__background:hover {
    all: unset;

    display: block;
  }

  .cases__descriptions {
    all: unset;
    display: block;
  }

  .cases__card {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
  }

  .cases__chevron_icon {
    width: 6.154vw;
    height: 6.154vw;

    transition: transform 0.3s ease-in-out;
  }

  .cases__chevron_icon--open {
    transform: rotateX(180deg);
  }

  .cases__card_wrapper {
    display: flex;
    flex-direction: column;

    gap: 20px;

    padding: 20px;

    background: var(--background);

    cursor: pointer;

    border: 1px solid var(--background);

    max-width: 76.92vw;

    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
  }

  .cases__chevron_wrapper {
    height: min-content;
  }

  .cases__card_text {
    text-align: left;

    font-size: 4.103vw;
    line-height: 140%;
  }

  .cases__card_name {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 4.103vw;

    text-align: left;
  }

  .cases__list {
    max-height: none;
  }

  .cases__description_list {
    text-align: left;

    padding-left: 5.13vw;
  }

  .cases__content {
    height: auto;
  }
}

@media (min-width: 1920px) {
  .cases__card {
    gap: 1.4vw;

    padding: 1.4vw;
  }

  .cases__card_icon {
    width: 2.7vw;
    height: 2.7vw;
  }

  .cases__card_text,
  .cases__card_name {
    font-size: 1.4vw;
  }

  .cases__descriptions {
    display: flex;
    flex-direction: column;

    gap: 30px;

    padding: 3vh 1.4vw;
  }

  .cases__content {
    height: 143vh;
  }
}
