.cases {
  display: flex;
  align-items: center;
}

.cases__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.cases__content {
  display: flex;
  height: 710px;

  gap: 20px;

  text-align: left;
}

/* /* @media (max-width: 641px) {
  .cases__content {
    height: auto;
    width: 100%;
    flex-direction: column;
  }
} */

.cases__list {
  display: flex;
  flex-direction: column;
  height: fit-content;

  gap: 10px;
}

.cases__background {
  border-radius: 8px;

  padding: 1px;

  height: fit-content;

  position: relative;
}

.cases__background--active {
  background: linear-gradient(
    223.81deg,
    #00e5e5 8.72%,
    #72a5f2 50.87%,
    #e961ff 91.3%
  );
}

.cases__background--active::after {
  content: "";
  position: absolute;
  inset: -0.325em;
  background: var(--gradient);
  filter: blur(1.5em);
  z-index: -1;
}

.cases__card {
  display: flex;
  align-items: center;

  gap: 20px;

  padding: 19px 20px;

  background: var(--background);

  cursor: pointer;
}

.cases__background,
.cases__card {
  transition: background-color 0.3s ease;
}

.cases__background:hover {
  background-color: aquamarine;
}

.cases__card__wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.cases__card_icon {
  width: 40px;
  height: 40px;
}

.cases__card_text,
.cases__card_name {
  font-size: 1.4vw;
  line-height: 140%;

  color: var(--text-color);

  margin: 0;
}

.cases__text_description {
  display: flex;
}

.cases__text_description::before {
  content: "•";
  margin-right: 10px;
}

.cases__card_name {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.cases__card_icon_wrapper {
  height: 40px;
}

.cases__descriptions {
  display: flex;
  flex-direction: column;

  font-family: inherit;
  overflow-y: scroll;

  background-color: var(--background);
  border: none;

  gap: 30px;

  padding: 24px 20px;
  width: 50vw;
  height: 100%;
}

.cases__card,
.cases__descriptions {
  /* border: 1px solid var(--background); */
  border-radius: 8px;

  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.6);
}

.cases__description_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 20px;
}

.cases__description_list {
  margin: 0;
}

@media (min-width: 642px) {
  .cases {
    all: unset;
  }

  .cases__card {
    gap: 1.4vw;
  }

  .cases__card_text,
  .cases__card_name {
    font-size: 20px;
  }

  .cases__background--active .cases__card_header {
    background: var(--gradient, linear-gradient(224deg, #00E5E5 8.72%, #72A5F2 50.87%, #E961FF 91.3%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .cases__descriptions {
    display: flex;
    flex-direction: column;

    gap: 30px;

    padding: 24px 20px;
  }

  .cases-desc-container {
    position: relative;
  }

  .cases-desc-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: -1px;
    left: 0;
    background: linear-gradient(0deg,#15181d 20%,rgba(204,204,204,0) 80%);
  }
}


@media (min-width: 930px) {
  .cases__card_icon {
    width: 6.8vh;
    height: 6.8vh;
  }
}

@media (max-width: 930px) {
  .cases__content {
    height: auto;
    width: 100%;
    flex-direction: column;
  }

  .cases__list {
    max-height: none;
    width: 100%;
  }

  .cases__card_wrapper {
    display: flex;
    flex-direction: column;

    gap: 20px;

    padding: 20px;

    background: var(--background);

    cursor: pointer;

    border: 1px solid var(--background);

    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
  }

  .cases__card {
    all: unset;
    
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  .cases__descriptions {
    all: unset;
    display: block;
  }
}

@media (max-width: 930px) and (min-width: 641px) {
  .cases__card_wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width: 641px) {
  .cases {
    all: unset;

    position: relative;

    width: 100vw;
    display: block;
  }

  .cases__background,
  .cases__background--active,
  .cases__background--active::after,
  .cases__background:hover {
    all: unset;

    display: block;
  }
/* 
  .cases__descriptions {
    all: unset;
    display: block;
  } */
/* 
  .cases__card {
    all: unset;
    
    display: flex;
    justify-content: space-between;
    align-items: center
  } */

  .cases__chevron_icon {
    width: 24px;
    height: 24px;

    transition: transform 0.3s ease-in-out;
  }

  .cases__chevron_icon--open {
    transform: rotateX(180deg);
  }
/* 
  .cases__card_wrapper {
    display: flex;
    flex-direction: column;

    gap: 20px;

    padding: 20px;

    background: var(--background);

    cursor: pointer;

    border: 1px solid var(--background);

    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
  } */

  .cases__chevron_wrapper {
    height: min-content;
  }

  .cases__card_text {
    text-align: left;

    padding-right: 20px;

    font-size: 16px;
    line-height: 140%;
  }

  .cases__card_name {

    font-size: 16px;

    text-align: left;
  }
/* 
  .cases__list {
    max-height: none;
    width: 100%;
  } */

  .cases__description_list {
    text-align: left;

    padding-left: 5.13vw;
  }
}

@media (min-width: 641px) {
  .case-card-container {
    height: auto;
    overflow-y: auto;
    z-index: -2;
    border-radius: 8px;
    background: var(--BG, #14181C);
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.60);
  }

  .cases__content {
    width: 100%;
    justify-content: space-between;
  }
}

@media (min-width: 1920px) {
  .cases__card {
    gap: 1.4vw;

    padding: 1.4vw;
  }

  .cases__card_icon {
    width: 2.7vw;
    height: 2.7vw;
  }

  .cases__card_text,
  .cases__card_name {
    font-size: 1.4vw;
  }

  .cases__descriptions {
    display: flex;
    flex-direction: column;

    gap: 30px;

    padding: 3vh 1.4vw;
  }

  .cases__content {
    height: 970px;
  }

}

.ant-card-body {
  padding: 0 !important;
}