@font-face {
  font-family: "Proxima Nova Bold";
  src: url(/fonts/proxima/proxima-nova-bold.otf);
  font-weight: 700;
}

.crew {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crew__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 40px;
}

.crew__list {
  display: grid;
  grid-template-columns: repeat(3, 4fr);

  gap: 20px;
}

.crew__item {
  display: flex;

  padding-top: 5px;

  border: 1px solid var(--background);
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.6);
  border-radius: 8px;

  width: 390px;
}

.crew__img_container {
  width: 200px;
  height: 200px;

  object-fit: contain;

  filter: grayscale(100%);

  transition: filter 0.3s ease;
}

.crew__img_container:hover {
  filter: none;
}

.crew__img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.crew__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 167px;

  gap: 10px;
}

.crew__name {
  max-width: 90px;

  font-family: "Proxima Nova Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;

  text-align: left;

  margin: 0;

  color: var(--text-color);
}

.crew__role {
  font-size: 20px;
  line-height: 140%;

  color: #8d8d8d;

  text-align: left;

  margin: 0;
}
