@font-face {
  font-family: "Proxima Nova Bold";
  src: url(/fonts/proxima/proxima-nova-bold.otf);
  font-weight: 700;
}

.crew {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crew__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.crew__title {
  text-align: start;
}

.crew__list {
  display: grid;
  grid-template-columns: repeat(3, 4fr);

  gap: 20px;
}
@media (min-width: 642px) {
  .crew__list {
    display: flex;
    justify-content: space-between;
  }
}

.crew__item {
  display: flex;

  padding-top: 5px;

  border: 1px solid var(--background);
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.6);
  border-radius: 8px;

  width: 27.083vw;
}

.crew__img_container {
  width: 200px;
  height: 200px;

  object-fit: contain;

  filter: grayscale(100%);

  transition: filter 0.3s ease;
}

.crew__img_container:hover {
  filter: none;
}

.crew__img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.crew__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 167px;

  gap: 10px;
}

.crew__name {
  max-width: 90px;

  font-family: "Proxima Nova Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;

  text-align: left;

  margin: 0;

  color: var(--text-color);
}

.crew__role {
  font-size: 20px;
  line-height: 140%;

  color: #8d8d8d;

  text-align: left;

  margin: 0;
}

@media (max-width: 1050px) and (min-width: 642px) {
  .crew {
    all: unset;
  }

  .crew__item {
    width: 27vw;
  }

  .crew__img_container {
    width: 13.89vw;
    height: 13.89vw;

    object-fit: cover;
  }

  .crew__description {
    max-width: 11.6vw;
  }

  .crew__name {
    max-width: 6.25vw;
  }

  .crew__name,
  .crew__role {
    font-size: 1.4vw;
  }
}

@media (max-width: 641px) {
  .crew__container {
    align-items: flex-start;
  }
  .crew {
    all: unset;

    margin-top: 50px;
  }
  .crew__list {
    display: grid;
    grid-template-columns: repeat(1, 6fr);

    gap: 20px;
  }

  .crew__item {
    width: 87.95vw;
  }

  .crew__img_container {
    height: 35.9vw;
    width: 35.9vw;
  }

  .crew__name {
    max-width: 43.59vw;
    font-size: 4.102vw;
  }

  .crew__role {
    font-size: 4.102vw;
  }
}

@media (min-width: 1920px) {
  .crew__item {
    width: 27vw;
  }

  .crew__img_container {
    width: 13.89vw;
    height: 13.89vw;

    object-fit: cover;
  }

  .crew__description {
    max-width: 11.6vw;
  }

  .crew__name {
    max-width: 6.25vw;
  }

  .crew__name,
  .crew__role {
    font-size: 1.4vw;
  }
}
