.faq__container {
  display: flex;
  flex-direction: column;
}

.faq__text_container {
  align-self: start;
}

.faq-item {
  margin-bottom: 15px;
  padding: 20px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  background: linear-gradient(#14181C,#14181C) padding-box, linear-gradient( 223.81deg, #00e5e5 8.72%, #72a5f2 50.87%, #e961ff 91.3% ) border-box;
}

.faq__question {
  font-family: Proxima Nova;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}


.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: var(--text-color);
}

.answer {
  margin-top: 10px;
  padding: 10px;
  color: var(--text-color);
}

.plus-icon {
  width: 40px;
  height: 40px;
}

.expanded .answer {
  display: block;
}

@media (max-width: 641px) {
  .faq__container {
    align-items: flex-start;
  }

  .answer {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  
  .faq-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background: #14181C;
    border: 1px solid var(--background);
    border-radius: 8px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.6);
  }
}