.faq__container {
  display: flex;
  flex-direction: column;
}

.faq__text_container {
  align-self: start;
}

.faq__title-text {
  margin-bottom: 40px;
  color: #ccc;
  font-size: 40px;
  line-height: 48px;
}

.faq-item {
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background: linear-gradient(#14181C,#14181C) padding-box, linear-gradient( 223.81deg, #00e5e5 8.72%, #72a5f2 50.87%, #e961ff 91.3% ) border-box;
  z-index: 5;
}

.faq__question {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}


.question {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  color: var(--text-color);
}

.answer {
  margin-top: 10px;
  color: var(--text-color);

  font-weight: normal;

  text-align: left;
  
}

.plus-icon {
  width: 40px;
  height: 40px;
}

.expanded .answer {
  display: block;
}

@media (max-width: 641px) {

  .faq__title-text {
    font-size: 24px;
    line-height: 29px;
  .faq {
    max-width: 100vw;
  }

  .question {
    flex-wrap: nowrap;
    gap: 10px;
  }

  .faq__container {
    align-items: flex-start;
  }

  .faq__container.container {
    margin: 0 16px;
  }

  .answer {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    text-align: left;
  }

  .faq-grid__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }
  
  .faq__question {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    font-size: 16px;
  }
  .faq__item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    padding-right: 30px;

    background: var(--background);
    cursor: pointer;
    border: 1px solid var(--background);
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
  }

  .question__text {
    text-align: left;
  }
  
  .faq-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #14181C;
    margin-bottom: 0;
  }
  .plus-icon {
    width: 20px;
    height: 20px;
    padding-left: 10px;
  }
}

