.faq__container {
  display: flex;
  flex-direction: column;
}

.faq__text_container {
  align-self: start;
}

.faq-item {
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background: linear-gradient(#14181C,#14181C) padding-box, linear-gradient( 223.81deg, #00e5e5 8.72%, #72a5f2 50.87%, #e961ff 91.3% ) border-box;
}

.faq__question {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}


.question {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  color: var(--text-color);
}

.answer {
  margin-top: 10px;
  color: var(--text-color);

  font-weight: normal;

  text-align: left;
}

.plus-icon {
  width: 40px;
  height: 40px;
}

.expanded .answer {
  display: block;
}

@media (max-width: 641px) {

  .question {
    flex-wrap: nowrap;
  }

  .faq__container {
    align-items: flex-start;
  }

  .answer {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    text-align: left;
  }

  .faq-grid__container {
    display: block;
    width: 100%;
    grid-template-columns: 5fr 7fr;
    gap: 40px;
  }
  
  .faq__question {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    gap: 10px;

    font-size: 16px;
  }
  .faq__item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    background: var(--background);
    cursor: pointer;
    border: 1px solid var(--background);
    /*max-width: 76.92vw;*/
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    
  }

  .question__text {
    text-align: left;
  }
  
  .faq-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 76.92vw;
    background: #14181C;
    margin-bottom: 0;
  }
  .plus-icon {
    width: 20px;
    height: 20px;
    padding-left: 10px;
  }
}

