.button {
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 50px;

  mix-blend-mode: normal;

  border: 1px solid #e961ff;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 140%;

  text-transform: uppercase;

  transition: background-color 0.3s ease;
}

.button--dark {
  width: 160px;

  color: #e961ff;
  background-color: #14181c;
}

.button--dark:hover {
  background: rgba(233, 97, 255, 0.1);
}

.button--pink {
  width: 186px;

  background-color: #e961ff;
  color: #14181c;
}

.button--pink:hover {
  background: #f094ff;
}

.button--green {
  background-color: #14181c;
  color: #1ab686;
  border-color: #1ab686;

  width: 192px;
}

.button--green:hover {
  background: rgba(26, 182, 134, 0.1);
}

.button--blue {
  background-color: #14181c;

  color: #72a5f2;
  border-color: #72a5f2;

  width: 192px;
}

.button--blue:hover,
.button--pink_price:hover {
  background: rgba(114, 165, 242, 0.1);
}

.button--pink_price {
  background-color: #14181c;
  width: 192px;

  color: #e961ff;
  border-color: #e961ff;
}

.button--mint {
  background-color: #14181c;
  width: 192px;

  color: #00e5e5;
  border-color: #00e5e5;
}

.button--mint:hover {
  background: rgba(0, 229, 229, 0.1);
}

.button--purple {
  background-color: #14181c;

  color: #aa97f2;
  border-color: #aa97f2;
  width: 192px;
}

.button--purple:hover {
  background: rgba(124, 102, 233, 0.1);
}

@media (max-width: 641px) {
  .button--dark,
  .button--pink {
    width: 87.95vw;
  }
}

@media (min-width: 1920px) {
  .button {
    font-size: 1.1vw;

    height: 3.5vw;
    width: 12vw;
  }
}
