.button {
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;

  mix-blend-mode: normal;

  border: 1px solid #e961ff;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 140%;

  text-transform: uppercase;

  transition: background-color 0.3s ease;

  padding: 12px 24px;
}

.button--dark {
  /* width: 160px; */

  color: #e961ff;
  background-color: #14181c;
}

.button--dark:hover {
  background: rgba(233, 97, 255, 0.1);
  color: #e961ff;
}

.button--pink {
  /* width: 186px; */

  background-color: #e961ff;
  color: #14181c;
}

.button--pink:hover {
  background: #f094ff;
  color: #14181c;
}

.button--green {
  color: #14181c;
  background-color: #1ab686;
  border-color: #1ab686;

  /* width: 192px; */
}

.button--green:hover {
  background: rgba(26, 182, 134, 0.1);
  color: #1ab686;
}

.button--blue {
  color: #14181c;

  background-color: #72a5f2;
  border-color: #72a5f2;

  /* width: 192px; */
}

.button--blue:hover,
.button--pink_price:hover {
  background: rgba(114, 165, 242, 0.1);
}

.button--blue:hover {
  color: #72a5f2;
}

.button--pink_price:hover {
  color: #e961ff;
}

.button--pink_price {
  color: #14181c;
  /* width: 192px; */

  background-color: #e961ff;
  border-color: #e961ff;
}

.button--mint {
  color: #14181c;
  /* width: 192px; */

  background-color: #00e5e5;
  border-color: #00e5e5;
}

.button--mint:hover {
  background: rgba(0, 229, 229, 0.1);
  color: #00e5e5;
}

.button--purple {
  color: #14181c;

  background-color: #aa97f2;
  border-color: #aa97f2;
  /* width: 192px; */
}

.button--purple:hover {
  background: rgba(124, 102, 233, 0.1);
  color: #aa97f2;
}

.button--nav {
  height: 40px;
  line-height: 40px;
}
@media (max-width: 641px) {
  .button--dark,
  .button--pink {
    width: 87.95vw;
  }
}

@media (max-width: 890px) {
  .button--pink.menu {
    width: 87.95vw;
    font-size: 3.2vw;
    padding: 20px;
    height: auto;
  }
}

@media (min-width: 1920px) {
  .button {
    font-size: 1.1vw;

    height: 3.5vw;
    width: 12vw;
  }
}