#root {
    overflow-x: clip;
}

strong {
    font-family: 'Proxima Nova Bold';
}

.h1 {
    margin: 0;
}

.blog_post-content {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

@media (max-width: 641px) {
    
    .blog_post-content {
        margin-top: 50px;
    }
}

.blog_post--header--bg {
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 641px) {
    .blog_post--header--bg {
        height: 400px;
    }
}

.bg--gradient::before {
    background: linear-gradient(90deg, rgba(20, 24, 28, 0.93) 30.73%, rgba(20, 24, 28, 0.00) 100%);
}

.blog_post--header---info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

@media (max-width: 641px) {
    .blog_post--header---info {
        width: 100%;
        justify-content: space-between;
    }
}

.blog_post--header--text, .blog_post--header---description {
    color: var(--white, #CCC);

    width: 51vw;

    font-family: 'Proxima Nova';

    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

@media (max-width: 875px) {
    .blog_post--header--text, .blog_post--header---description {
        width: 70vw;
    }
}

@media (max-width: 641px) {
    .blog_post--header--text, .blog_post--header---description {
        width: auto;
    }

    .container.blog_post--header--text {
        gap: 58px;
    }

    .blog_post--header--description---container {
        width: 93vw;
    }
}


.blog_post--header---description {
    gap: 24px;
}

.blog_post--header--text {
    margin-left: 100px;
    gap: 40px;
    z-index: 1;
}

.blog_post--header---description > h1 {
    font-size: 64px;
    line-height: 120%;
    font-family: 'Proxima Nova regular';
}

.p {
    width: 100%;
    font-size: 20px;
    line-height: 140%;
    color: var(--white, #CCC);
    text-align: left;
}

.span {
    font-size: 14px;
    line-height: 140%;
}

@media (max-width: 641px) {
    .blog_post--header---description {
        max-width: 400px;
    }

    .blog_post--header---description > h1 {
        font-size: 40px;
    }

    .p {
        font-size: 14px;
    }
}

.about_autor {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.about_autor > img {
    height: 60px;
}

.about_autor-text {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
}

.autor_name, .about_time > span, .about_create_date > span {
    font-family: 'Proxima Nova Bold';
    display: flex;
}

.about_info {
    display: flex;
    gap: 22px;
}

.about_time, .about_create_date {
    padding: 12px 24px;
}

@media (max-width: 641px) {
    .about_info {
        flex-direction: column;
        gap: 0px;
        align-items: flex-end;
    }

    .about_time, .about_create_date {
        padding: 0;
    }

    .about_time > span {
        font-family: 'Proxima Nova regular';
    }

    .about_time > span, .about_create_date > span {
        text-align: right;
    }
}

@media (min-width: 641px) {
    .top-link--container_post {
        margin-left: 100px;
    }
}

.container.main-columns {
    display: flex;
    flex-direction: row;
    gap: 125px;
    padding-bottom: 100px;
    position: relative;
}


@media (max-width: 875px) {
    .container.main-columns {
        display: block;
    }
}


.h2 {
    margin: 0;
    text-align: left;

    color: var(--white, #CCC);

    font-family: 'Proxima Nova regular';
    font-size: 40px;

    line-height: 120%;
}

.left--column {
    display: flex;
    flex-direction: column;
    gap: 68px;
    width: 57vw;
}

@media (max-width: 875px) {
    .left--column {
        width: 100%;
    }
}

.blog_post--main_part {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.main_part--content {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
