.crew-member {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;  
  padding: 20px;
  width: 295px;
  height: 300px;
  box-sizing: border-box;

  box-shadow: 0 0 32px #0009;
  border-radius: 5px;
}

.crew-member__name {
  color: #ccc;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  padding: 12px;
  margin: 0;
}

.crew-member__role {
  color: #8D8D8D;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  padding: 12px;
  margin: 0;
}