.about__container {
  display: grid;
  grid-template-columns: 6fr 6fr;

  padding-left: 4vw;

  gap: 20px;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__paragraph {
  font-size: 20px;
  line-height: 140%;

  color: var(--text-color);

  text-align: left;
}

.about__earth {
  object-fit: cover;

  width: 50vw;
}

.about__earth_img {
  width: 100%;
  height: 100%;

  background-color: var(--background);
  mix-blend-mode: screen;
}

@media (max-width: 1050px) and (min-width: 642px) {
  .about__paragraph {
    font-size: 1.4vw;
  }
}

@media (max-width: 641px) {
  .about {
    border: 1px solid transparent;

    display: block;

    margin-top: 10px;
  }

  .about__container {
    padding-left: 0;
  }

  .about__earth {
    position: absolute;

    opacity: 0.1;

    left: -15px;

    z-index: -20000;

    width: max-content;
  }

  .about__content {
    margin-left: 0.5vw;
  }

  .about__content {
    padding-top: 140px;
  }

  .about__container {
    position: relative;
  }

  .about__paragraph {
    font-size: 4.103vw;
  }

  .about__text {
    max-width: 87.95vw;
  }

  .about__show_more {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 16px;
  }

  .about__show_more--close {
    margin-top: -80px;
  }

  .about__paragraph--hidden {
    background: linear-gradient(
      180deg,
      #cccccc 47.94%,
      rgba(204, 204, 204, 0) 79.01%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .about__chevron_icon {
    width: 24px;
    height: 24px;

    transition: transform 0.3s ease-in-out;
  }

  .about__chevron_icon--open {
    transform: rotateX(180deg);
  }

  .about__chevron_wrapper {
    height: 24px;
  }
}

@media (min-width: 1920px) {
  .about__paragraph {
    font-size: 1.4vw;
  }
}
