@font-face {
  font-family: "Proxima Nova Bold";
  src: url(/fonts/proxima/proxima-nova-bold.otf);
  font-weight: 700;
  font-display: swap;
}

.pricing__button {
  margin-top: 10px;
}

@media(max-width: 750px) {
  .pricing__first {
    height: 280px;
}
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.swiper-wrapper .slider-frame {
  display: flex;
  transition: transform 0.3s ease;
}

.swiper-wrapper .slider-frame .slider-item {
  flex: 0 0 auto;
  margin-right: 15px;
}

.swiper-wrapper .slider-frame .slider-item:last-child {
  margin-right: 0;
}

.swiper-wrapper .slider-frame .slider-item {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
}

.pricing__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 40px;
  overflow: visible;
}

.pricing__card_preferences_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;

  max-width: 192px;
}

.pricing__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  gap: 20px;
}

.pricing__card_background {
  /* min-width: 200px; */
  max-width: 232px;
  height: 900px;

  position: relative;

  border: 1px solid;

  border-image-slice: 1;
  border-width: 1px;

  background: var(--gradient);

  border-radius: 8px;
}

.pricing__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;
  background-color: #1c2024;

  height: calc(100% - 4px);

  margin: 1px;

  border: 1px solid #1c2024;
  border-radius: 8px;
}

@media (min-width: 573px) and (max-width: 641px) {
  .pricing__first {
    height: 400px;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  .pricing__first {
    height: 195px;
  }
}

@media (min-width: 401px) and (max-width: 460px) {
  .pricing__first {
    height: 230px;
  }
}

@media (min-width: 461px) and (max-width: 470px) {
  .pricing__first {
    height: 230px;
  }
}


.pricing__card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__card_background--popular::after {
  content: "";
  position: absolute;
  inset: -0.325em;
  background: var(--gradient);
  filter: blur(1.5em);
  z-index: -1;
}

.pricing__card_background--popular::before {
  content: "Most Popular";
  position: absolute;

  top: -10px;
  left: 50%;
  transform: translateX(-50%);

  padding: 2px 20px;
  width: max-content;

  background: linear-gradient(270deg, #14dbe8 0.62%, #43c0ed 100.76%);
  border-radius: 32px;

  color: #14181c;

  font-family: "Proxima Nova Bold", sans-serif;
  font-weight: 700;
  font-size: 14px;

  z-index: 99;
}

.pricing__card_head {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  flex-direction: column;

  gap: 5px;
}

.pricing__card_description {
  max-width: 192px;

  font-weight: 400;
  font-size: 13px;
  line-height: 140%;

  color: var(--text-color);
}

@media (min-width: 1025px) and (max-width: 1165px) {
  .pricing__card_description {
    height: 55px;
  }
}

.pricing__card_title {
  all: unset;

  font-family: "Proxima Nova Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;

  text-align: center;
  text-transform: uppercase;
}

.pricing__card_price {
  font-size: 64px;
  line-height: 120%;

  height: 77px;

  position: relative;
}

.pricing__card--business::after {
  content: "$";

  width: 12px;
  height: 28px;

  font-size: 20px;

  position: absolute;
  top: -20px;
  left: 7px;
}

.pricing__card--startup::after {
  content: "$";

  width: 12px;
  height: 28px;

  font-size: 20px;

  position: absolute;
  top: -20px;
  left: 15px;
}

.pricing__card--personal::after {
  content: "$";

  width: 12px;
  height: 28px;

  font-size: 20px;

  position: absolute;
  top: -20px;
  left: 36px;
}

.pricing__card--calculator::after {
  content: "$";

  width: 12px;
  height: 28px;

  font-size: 20px;

  position: absolute;
  top: -20px;
  left: 50px;
}

.pricing__card--hourly::after {
  content: "$";

  width: 12px;
  height: 28px;

  font-size: 20px;

  position: absolute;
  top: -20px;
  left: 18px;
}

.pricing__card_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pricing__card_payment {
  font-family: "Proxima Nova Bold", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;

  text-align: center;
  text-transform: uppercase;

  color: #8d8d8d;

  max-width: 190px;
}

.pricing--green {
  color: #1ab686;
}

.pricing--blue {
  color: #72a5f2;
}

.pricing--pink {
  color: #e961ff;
}

.pricing--mint {
  color: #00e5e5;
}

.pricing--purple {
  color: #aa97f2;
}

.pricing__card_monthly {
  max-width: 237px;
  height: fit-content;

  font-family: "Proxima Nova Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;

  text-align: center;
}

.pricing__card_preferences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: min-content;

  gap: 10px;
}

.pricing__card_preference {
  font-size: 20px;
  line-height: 140%;

  color: var(--text-color);
}

.pricing__card_text_container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

@media (max-width: 1120px) {
  .pricing__list {
    gap: 10px;
  }
}

@media (max-width: 641px) {
  .pricing {
    all: unset;
  }

  .pricing__calculator_icon {
    height: 40px;
    width: 40px;
  }

  .pricing__card_background {
    margin-top: 55px;
    margin-bottom: 50px;

  }

  .pricing__card_title {
    font-size: 4.1025vw;
  }

  .pricing__card_description {
    font-size: 3.077vw;
  }

  .pricing__card_price {
    font-size: 9.23vw;

    margin-top: -20px;

    height: fit-content;
  }

  .pricing__card--business::after,
  .pricing__card--startup::after,
  .pricing__card--personal::after,
  .pricing__card--calculator::after,
  .pricing__card--hourly::after {
    font-size: 5.128vw;

    width: 3.077vw;
    height: 7.08vw;

    top: -10px;
  }

  .pricing__card--business::after {
    left: 30px;
  }

  .pricing__card--startup::after {
    left: 38px;
  }

  .pricing__card--personal::after {
    left: 48px;
  }

  .pricing__card--calculator::after {
    left: 50px;
  }

  .pricing__card--hourly::after {
    left: 42px;
  }

  .pricing__card_payment {
    font-size: 3.077vw;
  }

  .pricing__card_monthly {
    font-size: 4.103vw;
  }

}

@media (min-width: 1920px) {
  .pricing__container {
    gap: 2.7vw;
  }

  .pricing__card_background {
    min-width: 14vw;
    max-width: 16.1vw;
    min-height: 58vw;

    border-radius: 0.56vw;

    padding: 5px;
  }

  .pricing__card_head {
    padding-top: 4.88vh;
    padding-left: 0.7vw;
    padding-right: 0.7vw;

    gap: 0.35vw;
  }

  .pricing__card_description {
    max-width: 13.3vw;

    font-size: 0.97vw;
  }

  .pricing__card_title {
    font-size: 1.39vw;
  }

  .pricing__card_background--popular::before {
    top: -20px;

    padding: 0.24vh 1.4vw;

    font-size: 0.97vw;
  }

  .pricing__card_price {
    font-size: 4.4vw;

    height: 9.4vh;
  }

  .pricing__card--business::after {
    width: 0.83vw;
    height: 3.41vh;

    font-size: 1.4vw;
    bottom: 1.22vh;
    left: 0.5vw;
  }

  .pricing__card--startup::after {
    width: 0.83vw;
    height: 3.41vh;

    font-size: 1.4vw;
    bottom: 1.22vh;
    left: 0.8vw;
  }

  .pricing__card--personal::after {
    width: 0.83vw;
    height: 3.41vh;

    font-size: 1.4vw;
    bottom: 1.22vh;
    left: 2vw;
  }

  .pricing__card--calculator::after {
    width: 0.83vw;
    height: 3.41vh;

    font-size: 1.4vw;
    bottom: 1.22vh;
    left: 3vw;
  }

  .pricing__card--hourly::after {
    width: 0.83vw;
    height: 3.41vh;

    font-size: 1.4vw;
    bottom: 1.22vh;
    left: 1vw;
  }

  .pricing__card_payment {
    font-size: 1vw;

    max-width: 13.2vw;

    padding-top: 40px;
  }

  .pricing__card_info {
    gap: 10vh;
  }

  .pricing__card_monthly {
    max-width: 12.5vw;

    font-size: 1.4vw;
  }

  .pricing__card_preference {
    font-size: 1.4vw;
  }

  .pricing__calculator_icon {
    width: 4.86vw;
    height: 4.86vw;
  }

  .pricing__card_preferences_container {
    max-width: fit-content;
  }
}

.pricing__flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}