.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  transition: 0.4s all;
  transform: scale(0);
}

.modal__content.active {
  transform: scale(1);
}
