@font-face {
  font-family: "Proxima Nova Semibold";
  src: url(/public/fonts/proxima/proxima-nova-semibold.otf);
  font-weight: 600;
  font-display: swap;
}

.control__section {
  position: relative;
  height: 820px;
}

.control__background {
  position: absolute;
  top: 0;

  background-image: url(/backgrounds/nasa_mission_control_center.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 820px;
  height: 820px;

  opacity: 0.3;
}

.control__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #14181C 0.31%, rgba(20, 24, 28, 0.70) 31.29%, rgba(20, 24, 28, 0.00) 55.7%, rgba(20, 24, 28, 0.00) 77.79%, #14181C 97.38%);
  pointer-events: none;
}

.control__background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: linear-gradient(224deg, #00E5E5 8.72%, #72A5F2 50.87%, #E961FF 91.3%);
  background-blend-mode: hue;
  mix-blend-mode: hue;
  z-index: 1;
} 

.control {
  width: 100vw;
  height: 100%;

  background: linear-gradient(
    179.57deg,
    #14181c 0.31%,
    rgba(20, 24, 28, 0.7) 31.29%,
    rgba(20, 24, 28, 0) 55.7%,
    rgba(20, 24, 28, 0) 77.79%,
    #14181c 97.38%
  );

  border: 1px solid transparent;

  position: relative;
}

.control__title_container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  height: 88vh;
  
  text-align: center;
  margin: 0 16px;

  justify-content: center;
}

.control__title {
  all: unset;

  font-family: "Proxima Nova regular";
  font-size: 40px;
  line-height: 120%;
  text-align: center;

  background: linear-gradient(
    223.81deg,
    #00e5e5 8.72%,
    #72a5f2 50.87%,
    #e961ff 91.3%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  mix-blend-mode: normal;
  /* text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); */
}

.control_description {
  color: var(--white, #CCC);
text-align: center;
font-family: 'Proxima Nova';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}