.service-list-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  margin-bottom: 180px;
  margin-top: 180px;
  color: #ccc;
  padding: 0 100px;
}

.service-list-section__item {
  padding: 48px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  border-radius: 4px;
  background: var(--bg, #14181C);
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.60);
}

.service-list-section__icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.service-list-section__description {
  font-size: 20px;
  font-weight: normal;
  color: var(--text-color);
}

.service-list-section__title {
  margin: 0;
  margin-bottom: 24px;
}

@media (max-width: 641px) {
  .hero-section__text {
    text-align: left;
  }

  .service-list-section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    margin: 0 auto;
    margin-bottom: 140px;
    margin-top: 0;
  }

  .service-list-section__item {
    width: 80%;
    padding: 12px;
  }
  
  .service-list-section__description {
    font-size: 16px;
    line-height: 140%;
    padding: 0 40px;
  }

  .service-list-section__title {
    margin-bottom: 16px;
  }
}
