.partners__section {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.parners-list--container {
  width: 100vw;
}

.parners-list {
  /* background: var(--white, #CCC); */
  display: flex;
  padding: 30px 100px;
  margin: 0;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: auto;
  gap: 57px;

  /* background: var(--BG, #14181C);
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.60); */
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  height: 0;
}