.footer__contacts.container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
}

.cont {
  max-width: 91.8vw;
  height: 100%;
  padding-top: 50px;
  margin-left: 40px;
  position: relative;
}

.cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--gradient);
}

.footer__text {
  font-size: 20px;
  line-height: 140%;

  color: var(--text-color);
}

.footer__label {
  margin: 100px 0;
}

@media screen and (max-width: 641px) {
  .footer__contacts {
    flex-direction: column-reverse;
  }

  .sectionform {
    width: 100%;
  }

  .cont {
    margin: auto;
  }
}
