#blog {
    width: 100vw;
}

.blog--section {
    margin: 48px 100px 170px 100px;
    margin-left: 6vw;
}

.blog--header-part {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

@media (max-width: 768px) {
    .blog--section {
        margin: 0px 16px 140px 16px;
    }

    .blog--header-part {
        flex-direction: column-reverse;
        padding-top: 98px;
        gap: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1358px) {
    .blog--section {
        margin: 48px 30px 170px 30px;
    }
}


.blog--top-part {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    text-align: left;
    color: var(--text-color);
    width: 100vw;
    height: 400px;
    background: url("/public/blog-images/backgrounds/main_blog_bg.png") no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .blog--top-part {
        height: 150px;
    }
}

.blog--top-part > h1 {
    font-family: "Proxima Nova";
    font-size: 64px;
    font-weight: 400;
    margin: 161px 110px;
    z-index: 1;
}

.blog--top-part > p {
    height: 132px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.top-link--container {
    margin: 0;
    margin-left: 100px;
    text-align: left;
    color: var(--gray, #8D8D8D);
    font-size: 16px;
}

.top-link {
    padding-right: 8px;
    padding-left: 8px;
    color: var(--gray, #8D8D8D);
    font-size: 16px;
}

.top-link__home {
    padding-left: 0;
}

@media (max-width: 768px) {
    .top-link--container {
        margin-left: 14px;
    }
}

.top-link__resources {
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

#blog--categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#scroll--blog--categories {
    padding-top: 48px;
}

#scroll--blog--categories::-webkit-scrollbar-thumb {  
    border: none;
}

.blog--category {
    position: relative;

    color: var(--text-color);
    font-family: "Proxima Nova";
    font-size: 14px;

    padding: 8px 12px;
    border: 0;

    border-radius: 20px;
    background: var(--bg, #14181C);
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.60);

}

@media (min-width: 768px) {
    .blog--category:hover::after {
        content: "";
        position: absolute;

        inset: 0;
        background: var(--gradient);
        border-radius: 20px;
        padding: 1px;

        -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

@media (max-width: 768px) {
    #blog--categories {
        width: max-content;
        flex-direction: column;
        gap: 0;
    }

    #scroll--blog--categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    
    .blog--category {
        text-align: left;
        width: 77vw;
        max-width: 343px;
        border-right: 1px solid var(--pink, #E961FF);
        border-bottom: 1px solid var(--pink, #E961FF);
        border-left: 1px solid var(--pink, #E961FF);
        box-shadow: none;
        border-radius: 0;
        padding: 12px;

        &:last-child {
            border-radius: 0px 0px 4px 4px;
            border-right: 1px solid var(--pink, #E961FF);
            border-bottom: 1px solid var(--pink, #E961FF);
            border-left: 1px solid var(--pink, #E961FF);
            background: var(--bg, #14181C);
        }
    }

    .category--menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 4px 4px 0px 0px;
        border: 1px solid var(--pink, #E961FF);
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.60);
    }

    .category--menu.inactive {
        border-radius: 4px;
    }

    .category--menu > img {
        height: 20px;
    }

    #scroll--blog--categories:first-child {
        border-radius: 4px 4px 0px 0px;
        border: 1px solid var(--pink, #E961FF);
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.60);
    }
}

.image {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    opacity: 0.36;
}

.default-bg {
    border: 0;
    background: var(--bg, #14181C);
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.60) inset;
}

.active.pink-bg {
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.60) inset;
    background: var(--pink, #E961FF);
    color: var(--bg, #14181C);;
}

.active.pink-bg::after, .blog--category.default-bg::after {
    background: none;    
}

#blog--content {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 140px;
    align-items: center;
}

@media (max-width: 1300px) {
    #blog--content {    
        margin-top: 40px;
        gap: 70px;
    }
}

.blog-list--posts {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}


.blog--item {
    min-width: 400px;
    height: 300px;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 76px;
    justify-content: space-between;

    background: var(--bg, #14181C);
    border-radius: 4px;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.60);

    background-color: rgba(0, 0, 0, 0.5); 
}

.bg--gradient {
    position: relative;
}

.bg--gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(90deg, rgba(20, 24, 28, 0.93) 30.73%, rgba(20, 24, 28, 0.00) 100%);
    pointer-events: none;
    z-index: 1;
}

.bg--gradient::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(224deg, #00E5E5 0%, #72A5F2 51.04%, #E961FF 100%);
    background-blend-mode: hue;
    mix-blend-mode: hue;
    z-index: 0;
}


@media (min-width: 1300px) {

    .blog--item {
        width: 32.2%;
        &:nth-child(3n+2) {
            margin-top: -32px;
        }
    }
}

@media (min-width: 880px) and (max-width: 1300px) {
    #blog--content {
        margin-top: 80px;
    }

    .blog--item {
        width: 32.2%;
        &:nth-child(2n) {
            margin-top: -32px;
        }
    }
}

@media (max-width: 1300px) {
    .blog-list--posts {
        justify-content: center;
    }
}

@media (max-width: 880px) {
    .blog--item {
        width: 343px;
    }
}

@media (max-width: 440px) {
    .blog--item {
        min-width: 85vw;
        width: 85vw;
        height: auto;
    }
}

.head_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;

    margin: 24px 32px 0 0;
}

.bottom_info {
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
    margin-bottom: 24px;
}

.bottom_info > img {
    cursor: pointer;
}

.head_info, .bottom_info {
    z-index: 1;
}

@media (max-width: 880px) {
    .bottom_info > img {
        background-color: #14181cb3;
        padding: 5px;
        border-radius: 20px;
    }
}

#title, #category, #serviceItem {
    padding: 0 24px;
    color: var(--text-color);
    text-align: left;
}

#title {
    text-transform: uppercase;
    font-family: "Proxima Nova";
    font-size: 20px;
    margin: 0;
    text-align: left;
}

#category, #serviceItem {
    font-family: "Proxima Nova";
    font-size: 14px;
}

#description--container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 40px;
    max-width: 862px;
}

.description--text {
    color: var(--white, #CCC);
    font-family: "Proxima Nova";
    font-size: 20px;
     /* 4.103vw; */
    font-weight: 400;
    line-height: 140%;
}