.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ccc;
}


.service-item {
  flex-basis: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 32px #0009;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.service-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(224deg, #00E5E5 0%, #72A5F2 51.04%, #E961FF 100%);
  background-blend-mode: hue;
  mix-blend-mode: hue;
  opacity: 0.8;
  z-index: 1;
  border-radius: 10px;
}
.service-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(90deg, rgba(20, 24, 28, 0.93) 35.91%, rgba(20, 24, 28, 0.00) 100%);
  opacity: 0.8;
  z-index: 1;
  border-radius: 10px;
}

.service-item .main-text__container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 48px;
  text-align: left;
}

.main-text__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 24px;
  margin-bottom: 48px;

  text-align: left;
}

.main-text__title {
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.main-text__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 48px;
  color: var(--text-color);
}

.main-text__link {
  align-items: center;
  display: flex;
  color: #e961ff;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
}

@media (min-width: 641px) {
  .main-text__title,
  .main-text__description{
    font-size: 20px;
  }
  .main-text__container {
    width: 80%;
    padding-top: 30px;
  }

  .service-item:nth-child(2),
  .service-item:nth-child(3) {
    flex-basis: calc(50% - 10px);
  }

  .service-item:nth-child(4),
  .service-item:nth-child(8) {
    flex-basis: 100%;
  }

  .service-item:nth-child(5),
  .service-item:nth-child(6),
  .service-item:nth-child(7) {
    flex-basis: 100%;
  }
}

@media (min-width: 1024px) {
  .service-item:nth-child(1) .main-text__container {
    width: 468px;
  }

  .main-text__container {
    width: 288px;
  }

  .service-item {
    flex-basis: 100%;
  }

  .service-item:nth-child(2),
  .service-item:nth-child(3) {
    flex-basis: calc(50% - 10px);
  }

  .service-item:nth-child(4),
  .service-item:nth-child(8) {
    flex-basis: 100%;
  }

  .service-item:nth-child(5),
  .service-item:nth-child(6),
  .service-item:nth-child(7) {
    flex-basis: calc(33.33% - 10px);
  }
}

.top-link-main {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 110px;

  color: #8d8d8d;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  margin-bottom: 48px;
  text-align: left;
}

.top-link-list {
  margin-top: 48px;
}

.top-link__home,
.top-link__services {
  color: #8d8d8d;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

@media (max-width: 641px) {
  .main-text__container {
    padding: 24px;
  }
}