.switch-container {
  display: flex;
  background-color: #14181c;;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.switch-toggle_item {
  height: 40px;
  width: 80px;
  display: flex;
  border-radius: 35px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #e961ff;

  padding: 6px 13px;
}

.switch-text {
  color: #8d8d8d;
  font-size: 19px;
  font-weight: 700;

  text-transform: uppercase;
}

.switch-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e961ff;

  height: 50px;

  padding: 2px;
}

.switch-background,
.switch-container {
  border-radius: 40px;
}
