#root {
  width: 100vw;

  text-align: center;

  overflow-x: hidden;
}

/* .VIpgJd-ZVi9od-ORHb {
  display: none !important;
} */

.main {
  display: flex;

  justify-content: center;
  align-items: center;
}

.main__container {
  display: grid;
  grid-template-columns: repeat(1, 12fr);

  width: fit-content;

  margin: 0 auto;

  gap: 180px;
}

.main__container:last-child {
  margin-bottom: 180px;
}

.footermain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
/*   background-color: var(--background);
 */}


@media (max-width: 641px) {
  .main__container {
    width: 100%; 
    gap: 140px;
  }

  .main__container:last-child {
    margin-bottom: 140px;
  }

  .footer__label {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  .footer__label {
    font-size: 1.4vw;
  }
}
