#root {
  width: 120vw;

  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(1, 12fr);

  padding-left: 100px;

  gap: 180px;

  /* margin: 0 auto; */
}

.main:last-child {
  margin-bottom: 180px;
}
