@font-face {
  font-family: "Proxima Nova regular";
  src: url(/fonts/proxima/proxima-nova-regular.otf);
  font-weight: 400;
}

:root {
  background-color: #1c2024;

  --text-color: #cccc;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Proxima Nova regular";

  box-sizing: border-box;

  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  overflow-x: hidden;
}

.h2 {
  all: unset;

  font-weight: 400;
  font-size: 40px;
  line-height: 120%;

  color: var(--text-color);

  mix-blend-mode: normal;
}
