@font-face {
  font-family: "Proxima Nova regular";
  src: url(/fonts/proxima/proxima-nova-regular.otf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url(/fonts/proxima/proxima-nova-bold.otf);
  font-weight: 700;
}

:root {
  --text-color: #cccc;
  --background: #14181c;
  --gradient: linear-gradient(
    223.81deg,
    #00e5e5 8.72%,
    #72a5f2 50.87%,
    #e961ff 91.3%
  );

  background-color: var(--background);
}

::-webkit-scrollbar {
  width: 0.5em;

  z-index: -3;

  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;

  border-radius: 4px;

  width: 4px;

  height: 93.24vh;

  margin: 6px 6px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid #8d8d8d;

  height: 129px;

  width: 4px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Proxima Nova regular", serif;

  box-sizing: border-box;

  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;

  overflow-x: hidden !important;
}

body.modal-open {
  overflow: hidden !important;
}

.container {
  max-width: 91.8vw;

  margin: 0 auto;
}

p, button {
  margin: 0;
}

.h2 {
  /* all: unset; */

  font-weight: 400;
  font-size: 40px;
  line-height: 120%;

  color: var(--text-color);

  mix-blend-mode: normal;

  margin-top: 70px;
  margin-bottom: 24px;
}

@media (max-width: 641px) {
  .h2 {
    font-size: 24px;

    font-family: "Proxima Nova Bold";
    font-weight: 700;
  }

  .container {
    margin: 0;

    padding: 0 6vw;

    max-width: none;
  }

  .container__special {
    margin: 0;

    padding: 0 4vw;

    max-width: none;
  }
}
