@font-face {
  font-family: "Proxima Nova regular";
  src: url(/fonts/proxima/proxima-nova-regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url(/fonts/proxima/proxima-nova-bold.otf);
  font-weight: 700;
}

:root {
  --text-color: #cccc;
  --background: #14181c;
  --gradient: linear-gradient(
    223.81deg,
    #00e5e5 8.72%,
    #72a5f2 50.87%,
    #e961ff 91.3%
  );

  background-color: var(--background);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Proxima Nova regular";

  box-sizing: border-box;

  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;

  overflow-x: hidden;
}

.h2 {
  all: unset;

  font-weight: 400;
  font-size: 40px;
  line-height: 120%;

  color: var(--text-color);

  mix-blend-mode: normal;

  margin-top: 70px;
}

@media (max-width: 641px) {
  .h2 {
    font-size: 24px;

    font-family: "Proxima Nova Bold";
    font-weight: 700;
  }
}
