.contacts {
  width: 100%;
  height: 440px;
  box-sizing: border-box;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* height: 100%; */
}

#contacts__title {
  padding-bottom: 30px;
  margin: 0;
}

#socials__title {
  margin: 0;
}

.container__hight {
  height: 100%;
}

.contacts__info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
  width: fit-content;
}

.contacts__info {
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
  margin-bottom: 20px;
}

.contacts__adress {
  font-size: 20px;
  line-height: 20px;

  color: var(--text-color);
  transition: all 0.2s;
}

.contacts__adress:hover {
  opacity: 75%;
}

.socials__icon {
  transition: all 0.2s;
}

.socials__icon:hover {
  opacity: 75%;
}

@media (max-width: 641px) {
  .contacts__container {
    gap: 20px;
    padding: 0;
  }

  .contacts__adress {
    font-size: 16px;
  }

  .contacts__icon {
    height: 20px;
    width: 20px;
  }
}

@media (min-width: 1920px) {
  .contacts__adress {
    font-size: 1.4vw;
  }

  .contacts__icon {
    width: 1.7vw;
    height: 1.7vw;
  }
}

.contacts__socials {
  display: flex;
  gap: 27px;
  margin-top: 30px
}

.socials__title {
  margin-top: 50px;
}

@media (max-width: 641px) {
  #socials__title {
    display: none;
  }

  .contacts__socials {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 27px;
    margin-top: 100px;
  }
}
