.benefits__container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  align-items: end;
}

.benefits__text_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
}

.benefits__item {
  display: flex;
  align-items: center;

  gap: 30px;
  padding-top: 20px;
}

.benefits__icon {
  height: 48px;
  width: 48px;

  backdrop-filter: blur(8px);
}

.benefits__text {
  max-width: 350px;

  padding-right: 45px;

  text-align: left;

  font-size: 18px;
  line-height: 140%;

  color: var(--text-color);
}

.benefits__plane {
  display: block;
  width: 100%;

  max-height: 1100px;
}

@media (max-width: 1180px) {
  .benefits__text {
    font-size: 13px;
  }

  .benefits__icon {
    width: 24px;
    height: 24px;
  }

  .benefits__plane {
    max-height: 500px;
  }
}

@media (max-width: 1100px) {
  .benefits__text_container {
    justify-content: center;
  }

  .benefits__plane {
    max-height: 420px;
  }
}

@media (max-width: 1050px) {
  .benefits__icon {
    width: 3.3vw;
    height: 3.3vw;
  }

  .benefits__text {
    max-width: 24.3vw;

    font-size: 1.25vw;
  }

  .benefits__plane_container {
    object-fit: contain;
  }

  .benefits__plane {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 641px) {
  .benefits {
    all: unset;
  }

  .benefits__container {
    grid-template-columns: 3fr 3fr;

    justify-content: center;
    align-items: center;

    margin-left: 0.5vw;
  }

  .benefits__list {
    grid-template-columns: repeat(2, 3fr);
  }
  .benefits__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 18px;

    padding-bottom: 17px;
  }

  .benefits__text {
    max-width: 40vw;

    text-align: left;

    font-size: 5vw;

    margin: 0;
  }

  .benefits__icon {
    height: 40px;
    width: 40px;

    object-fit: cover;
  }

  .benefits__text_container {
    padding-left: 0;
  }

  .benefits__plane {
    display: none;
  }
}

@media (min-width: 1920px) {
  .benefits__icon {
    width: 3.3vw;
    height: 3.3vw;
  }

  .benefits__text {
    max-width: 24.3vw;

    padding-right: 3.125vw;

    font-size: 1.25vw;
  }

  .benefits__plane_container {
    object-fit: cover;
  }

  .benefits__plane {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 2466px) {
  .benefits__plane {
    width: 100%;
    height: 870px;
  }
}
@media (max-width: 1644px) {
  .benefits__plane {
    width: 100%;
    height: 600px;
  }
}