.about-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 180px;
}

.crew-section__title {
  color: #ccc;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
}

.crew-section__list {
  position: relative;
}

.crew-section__category-title {
  color: #ccc;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
}

.crew-section__category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
  border-bottom: 1px solid #8D8D8D;
}

.crew-section__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  position: relative;
}

@media (max-width: 768px) {
  .crew-section__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }
}