.menu {
  position: relative;
}

.menu__open {
  position: fixed;

  height: 100%;
  width: 100%;

  top: 0;
  left: 0;

  background-color: var(--background);

  z-index: 1000000000;

  overflow-y: scroll;
}

.menu__open::-webkit-scrollbar {
  width: 0;
}

.menu__top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
}

.menu__top_container > span {
  margin-left: 40px;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 5.13vw;
  color: #CCCCCC;
}

.menu__top_container > img {
  margin-right: 16px;
}

/* @media (max-width: 641px) { */
@media (max-width: 890px) { 

  .button--container {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
  }

  .button--pink.menu {
    width: 87.95vw;
  }
}
