.menu {
  position: relative;
}

.menu__open {
  position: fixed;

  height: 100%;
  width: 100%;

  top: 0;
  left: 0;

  background-color: var(--background);

  z-index: 1000000000;

  overflow-y: scroll;
}

.menu__close_container {
  position: absolute;
  
  top: 11px;
  right: 11px;
}

@media (max-width: 641px) {

  .button--container {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
  }

}